<mat-toolbar>
  <span>Create Auction</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <mat-form-field class="full-width">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Title" id="title" required [(ngModel)]="auction.title" name="title">
    </mat-form-field><br>
    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Description" id="desription" required [(ngModel)]="auction.description"
        name="description">
    </mat-form-field><br>
    <mat-form-field class="full-width">
      <mat-label>Starting Bidding Price</mat-label>
      <input matInput placeholder="Minimum Price" id="minimumPrice" required [(ngModel)]="auction.minimumPrice"
        name="minimumPrice">
    </mat-form-field><br>
    <mat-form-field class="full-width">
      <mat-label>Buy Now Price</mat-label>
      <input matInput placeholder="Buy Now Price" id="buyNow" required [(ngModel)]="auction.buyNow" name="buyNow">
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>Categories</mat-label>
      <mat-select>
          <mat-autocomplete #autoCategory="matAutocomplete" [displayWith]="displayCategories">
              <mat-option *ngFor="let category of _filteredCategories" [value]="category.id">
                  {{displayCategories(category.id)}}
              </mat-option>
          </mat-autocomplete>
      </mat-select>
   </mat-form-field><br>
    <button type="submit" class="btn btn-success">Submit</button>
  </mat-card-content>
</mat-card>